.destinations {
  width: 312px;
  margin: 84px auto 104px;
}

.destinations-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.destinations .item header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.destinations .item .img-item{
  height: 368px;
  width: 100%;
}

.destinations .item.tokyo .img-item {
  background: url(../image/Tokyo-mobile.jpg) no-repeat;
  background-size: cover
}

.destinations .item.osaka .img-item {
  background: url(../image/Osaka-mobile.jpg) no-repeat;
  background-size: cover
}

.destinations .item header h4 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 24px 0;
}

.destinations .item p{
  font-size: 28px;
  font-weight: var(--text-weight);
  line-height: 32px;
  margin-bottom: 24px;
}

.destinations .button {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }

  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }
}


@media screen and (min-width: 1024px) {
  .destinations {
      width: 960px;
      margin: 84px auto 104px;
    }

    .destinations-items {
      flex-direction: row; 
      justify-content: center;
      align-items: stretch;
      gap: 32px;
    }

    .destinations .item {
      flex: 1;
    }

    .destinations .item.tokyo .img-item {
      background: url(../image/Tokyo-tablet-desk.jpg) no-repeat;
      background-size: cover;
    }

    .destinations .item.osaka .img-item {
      background: url(../image/Osaka-tablet-desk.jpg) no-repeat;
      background-size: cover;
    }
  }



