.offers {
  margin-bottom: 184px;
}

.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.offers-cards .card {
  color: var(--text-secondary-color);
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}

.offers-cards .card header {
  display: block;
  position: static;
  background-color: transparent;
  padding: 0;
  margin-bottom: 24px;
}

.offers-cards .card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.offers-cards .card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}

.offers-cards .card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}

.offers-cards .card.japan {
  background: url(../image/bg-card-japan.jpg) no-repeat;
  background-size: cover;
}

.offers-cards .card.san-andreas {
  background: url(../image/bg-card-san-andreas.jpg) no-repeat;
  background-size: cover;
}

.offers-cards .card.paraiba {
  background: url(../image/bg-card-paraiba.jpg) no-repeat;
  background-size: cover;
}

.offers-cards .card.manaus {
  background: url(../image/bg-card-manaus.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
    .categories-cards, 
    .offers-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 700px; 
        margin: 64px auto 0; 
    }

    .categories-cards .card,
    .offers-cards .card {
        width: calc(50% - 12px); 
    }
}

@media screen and (min-width: 1024px) {
    .categories-cards,
    .offers-cards {
        max-width: 900px; 
    }
    
    .categories-cards .card,
    .offers-cards .card {
        width: 430px; 
    }
}

@media screen and (min-width: 1940px) {
    .categories-cards,
    .offers-cards {
        max-width: 1100px; 
    }

    .categories-cards .card,
    .offers-cards .card {
        width: 500px; 
    }
}
