.testimonial-container {
    display: flex;
    flex-direction: column;
    margin: 32px 24px;
}

.testimonial-container header p {
    font-size: 16px;
    line-height: 28px;
}

.testimonial-container footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.testimonial-container footer img {
    font-size: 86px;
    line-height: 86px;
}

.testimonial-container footer .container-profile h4 {
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--title-weight);
    margin: 0 0 8px;
}

.testimonial-container footer .container-profile .rating .star {
    font-size: 32px;
    color: var(--secundary-color);
    line-height: 32px;
}

@media screen and (min-width: 1440px) {
    .testimonial-container {
    flex-direction: row;
    }
}